@import url('https://fonts.cdnfonts.com/css/pacifico');
@import url('https://fonts.cdnfonts.com/css/lato');

:root {
  /* Fonts */
  --mainFont: font-family: 'Pacifico', sans-serif;
  --bodyFont: font-family: 'Lato', sans-serif;

  /* Brand Colors */
  --wht: #FCFEF1;
  --blk: #161913;
  --sft: #CAE6D5;
  --mnt: #9AD7B5;
  --grn: #A7C957;
  --drk: #013927;

  /* We may not need the following */
  --ylw: #E1C340;
  --brn: #BF773C;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--wht);
  color: var(--wht);
  padding: 0 2rem;
  height: 5rem;
}

body {
  background-color: var(--drk);
  color: var(--wht);
  justify-content: center;
}

a {
  color: var(--blk);
  font-family: var(--bodyFont);
  font-weight: bold;
  text-decoration: none;
  padding: 0 1rem;
  justify-content: center;
}

a:hover {
  color: var(--ylw);
}

.Signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blk);
  color: var(--wht);
  padding: 0 2rem;
  height: 100vh;
}